
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;1,400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
  display: flex;
  height: 540px;
  width: 480px;
  background-color: #030d22;
}

.container{
  height: 100%;
  width: 100%;
  background-color: #27234b;
  padding: 20px;
  position: absolute;
  transform: translate(-50%,-50%);
  left:50%;
  top: 50%;
  width: 100vmin;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(2,42,83,0.2);
}

.result{
  background-color: #fff;
  padding: 100px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.element{
  width:50px;
  height:50px;
  position: relative;
  margin-top: auto;
  background-color: #07abcf;
}

.sliders{
display: grid;
grid-template-columns: 6fr 6fr;
gap:15px 10px;
}

.slider-wrapper{
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
}

input[type='range']{
  width: 100%;
  color: #fff;
  height: 8px;
}

.input-wrapper{
  color: #fff;
}



.code-wrapper{
  display: grid;
  grid-template-columns: 10fr 2fr;
  gap: 5px;
  margin-top: 30px;
  
}

.code-wrapper button{
  background-color:rgb(115, 255, 35) ;
  color: #474747;
  border-radius: 5px;
}

textarea{
  background-color: #181e29;
  resize: none;
  padding: 5px;
  color: #fff;
  border: 1px solid black;
  border-radius: 3px;
 
}

#copyBtn{
  cursor: pointer;
  color: #000000;
}